.avatar{
    border: 2px solid #26235C;
}
.img-block{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-right: 6px solid #A60DBF;
    border-top: 1px solid #A60DBF;
    border-bottom: 2px solid #A60DBF;
    margin-top: 48px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.img-block img{

    padding: 4px;
    border-radius: 50%;
    max-width: 250px;
    height: 250px;
    object-fit: cover;
}
.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.name-title{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 8px;
}
.services-title{
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 2rem;
}
.feedback-title{
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 2rem;
}

.services-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.service-button{
    margin-top: 16px;
    background-color: #A60DBF !important;
    color: white !important;
}
.card{
width:300px ;

}
.card-text{
    overflow-y: auto;
    height: 80px;
    max-height: 80px;
}
.card-img{
    object-fit: cover;
    height: 200px;
}
.card-price{
    margin-top: 16px;
    float: right;
    font-size: 16px;
    font-weight:bold ;
}
.feedback-list{
    width: 92%;
    height:355px;
    overflow-y: auto;
}
.comment-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment-grade-div{
    flex-wrap: nowrap;
    white-space: nowrap;
}
.form-input{
    margin-bottom: 8px !important;
}
.form-switch{
    margin-right: 8px !important;
}